$background_grey: hsl(220, 12%, 95%);
$text_blue: #0A65CC;
$text_grey: #5E6670;
$text_black: #18191C;
$white: #ffffff;
$border_grey: #E4E5E8;
$type_green: #E7F6EA;
$text_green: #0BA02C;
$text_light_grey: #767F8C;
$logo_background_grey: #EDEFF5;
$text_dark_grey: #474C54;
$border_light_blue: #E7F0FA;
$background_gold: #FFF6E6;