@import "../../styles/colors.scss";
.header{
   background-color: $background_grey; 
   height: 48px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 300px 0 300px;
   
    &_tabs {
        display: inherit;
        gap: 24px;

        &_tab {
            color: $text_grey;
            font-size: 14px;

            &-selected {
                color: $text_blue;
            }
        }

    }

    &_number{
        &-number{
            color: $text_black;
            font-weight: 500;
        }
    }
}