@import '../../styles/colors.scss';

.howCard{
    width: 312px;
    height: 224px;
    border-radius: 12px;
    z-index: 1;

    &_container{
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    &_icon{
        background-color: white;
        width: 72px;
        height: 72px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &_info{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &_title{
        font-size: 18px;
        font-weight: 500;

    }

    &_description{
        color: $text_grey;
        font-size: 14px;
    }
}

.white{
    background-color: white;
}

.blue{
    background-color: $text_blue;
}